In [3]:
import numpy as np
import pandas as pd

In [25]:
df = pd.read_csv('spam.csv',encoding='ISO-8859-1', usecols=[0,1])

In [26]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [30]:
df['v1'] = df.v1.map({'ham' : 0, 'spam' : 1})

In [31]:
df.head()

   v1                                                 v2
0   0  Go until jurong point, crazy.. Available only ...
1   0                      Ok lar... Joking wif u oni...
2   1  Free entry in 2 a wkly comp to win FA Cup fina...
3   0  U dun say so early hor... U c already then say...
4   0  Nah I don't think he goes to usf, he lives aro...

In [32]:
df.shape

(5572, 2)

In [47]:
documents = ['Hello, How Are You!', 'Min money, earn from here.', 'Call me Now', 'Hello, call you tomorrow']

In [42]:
from sklearn.feature_extraction.text import CountVectorizer

In [56]:
count_vector = CountVectorizer(stop_words = 'english')

In [57]:
count_vector.fit(documents)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words='english',
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [58]:
names = count_vector.get_feature_names()

In [59]:
names

['earn', 'hello', 'min', 'money', 'tomorrow']

In [60]:
doc_array = count_vector.transform(documents).toarray()

In [61]:
doc_array

array([[0, 1, 0, 0, 0],
       [1, 0, 1, 1, 0],
       [0, 0, 0, 0, 0],
       [0, 1, 0, 0, 1]])

In [62]:
frequency_matrix = pd.DataFrame(data = doc_array, columns = names)

In [63]:
frequency_matrix

   earn  hello  min  money  tomorrow
0     0      1    0      0         0
1     1      0    1      1         0
2     0      0    0      0         0
3     0      1    0      0         1

In [65]:
from sklearn.model_selection import train_test_split

In [66]:
x_train, x_test, y_train, y_test = train_test_split(df['v2'], df['v1'], random_state = 1)

In [67]:
print('total jumlah kolom ; {}'.format(df.shape[0]))

total jumlah kolom ; 5572

In [68]:
count_vector = CountVectorizer()

In [69]:
training_data = count_vector.fit_transform(x_train)

In [70]:
testing_data = count_vector.transform(x_test)

In [71]:
from sklearn.naive_bayes import MultinomialNB

In [74]:
naive_bayes = MultinomialNB()

In [75]:
naive_bayes.fit(training_data, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [76]:
predictions = naive_bayes.predict(testing_data)

In [77]:
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [80]:
acc = accuracy_score(y_test, predictions)

In [81]:
acc

0.9856424982053122

In [82]:
recall = recall_score(y_test, predictions)

In [83]:
recall

0.9333333333333333